.App {
  /* text-align: center; */
}

header{
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.nav a
{
  margin: 0 30px ;
  text-decoration: none;
}
.header
{
  padding-bottom: 10px ;
  border-bottom: 1px solid black;
}
.results
{
  padding-top: 5px ;
}



